* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 28px;
	@media screen and (max-width: 720px) {
		font-size: 12px;
		line-height: 24px;
	}
}

:root {
	--bg-section: #dcdcdc;
	--bg-body: #f7f7f7;
	--gray-hover: #cdcdcd;
	--token: 0.5rem;
	--token2: 1rem;
	--token3: 1.5rem;
	--token4: 2rem;
	--border-color: gray;
	--heading-color: rgb(38, 38, 38);
	--red: red;
	--green: #c7ffc9;
}

header {
	padding: var(--token2) 0 0 0;
	
}
h1{
	padding-bottom: var(--token);
}
h1,
h2 {
	color: var(--heading-color);
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	max-width: 40rem;
	margin: auto;

	section {
		padding: var(--token);
		border-radius: var(--token);
		margin: var(--token2);
		&:last-of-type {
			margin-top: 0;
		}
	}

	.url-section {
		background: var(--bg-body);
		display: flex;
		gap: var(--token);
		.url-input,
		.fetch-button {
			font-size: var(--token3);
			padding: var(--token);
			border-radius: var(--token);
			border: 1px solid var(--border-color);
		}
		.url-input {
			flex: 1;
		}
		.fetch-button {
			cursor: pointer;
			background-color: var(--green);
		}
	}

	.fetch-button:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	.info-section {
		padding: 0;
	}

	.error-msg {
		color: var(--red);
		font-size: var(--token2);
		margin-bottom: var(--token2);
		background: #ffe3e3;
		border-radius: var(--token);
		padding: var(--token);
		display: none;
	}

	.viewport {
		height: 77dvh;
		overflow-y: auto;
		.spacer {
			position: relative;
		}
	}

	.tags-list {
		background: var(--bg-body);
		padding: 1rem;
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		li {
			height: 42px;
			display: flex;
			width: 100%;
			justify-content: space-between;
			font-size: var(--token3);
			background-color: var(--bg-section);
			padding: var(--token);
			border-radius: var(--token);
			cursor: pointer;
			&:hover {
				background-color: var(--gray-hover);
			}
		}
	}
}
